*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 480px) {
    body{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .slider-container{
        width: 50%;
    }
    .menu_barra{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        font-size: 13px;
        width: 100%;
        display: none;
    }
    .bt_conf{
        width: 20%;
        background-color: #333;
        border: 0px;
        border-radius: 45%;
    }
    .menu_bt{
        background-color: #333;
    }
    .img_menu{
        width: 80%;
    }
    li{
        font-size: 12px;
    }
    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
    }
    li a:hover{
        background-color: #111;
    }
    
    .solo_ot{
        display: none;
    }
}
@media screen and (min-width: 480px) and (max-width: 1024px) {
    .menu_barra{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    .menu_bt{
        display: none;
    }
    li{
        float: left;
    }
    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
    }
    li a:hover{
        background-color: #111;
    }
}

@media screen and (min-width: 1024px) {
    .menu_barra{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
    .menu_bt{
        display: none;
    }
    li{
        float: left;
    }
    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
    }
    li a:hover{
        background-color: #111;
    }
}