@media screen and (min-width: 1024px) {
    .map-container {
        text-align: center;
    }
    .map {
        width: 600px;
        height: 450px;
        border-radius: 25px;
        box-shadow: 0px 0px 10px #ccc;
        margin: auto;
    }
    h1{
        text-align: center;
    }
    p{
        margin: 20px;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .map-container {
        text-align: center;
    }
    .map {
        width: 80%;
        border-radius: 25px;
        box-shadow: 0px 0px 10px #ccc;
        margin: auto;
    }
    h1{
        text-align: center;
    }
    p{
        margin: 20px;
    }
}
@media screen and (max-width: 480px) {
    body{
        height: 100%;
        width: 100%;
    }

    .map-container {
        text-align: center;
    }
    .map {
        width: 300px;
        height: 225px;
        border-radius: 25px;
        box-shadow: 0px 0px 10px #ccc;
        margin: auto;
    }
    h1{
        text-align: center;
    }
    p{
        margin: 20px;
    }
}